/** Login **/
.login .card{
    background-color: transparent;
}
/** Login **/

/** NavBar **/
nav img{
    border-radius: 50%;
    height: 60%;
    width: 15%;
    margin-right: 10px;
}
li.nav-item {
    font-size: x-large;
    font-weight: 300;
}
nav ul a:hover{
    padding-top: 5px;
}
/** NavBar **/

/** Profile Manager **/
#profile-img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin: auto;
}
/** Profile Manager **/

/** Aministrator **/
.admin-title{
    text-decoration: underline;
}
.admin-count{
    font-size: 27px;
    color: black;
    font-style: oblique;
}
#profile-img{
    height: 150px;
    width: 165px;
    border-radius: 50%;
    margin: auto;
    margin-top: 5px;
}
.info-admin{
    position: relative;
    height: max-content;
    width: 200px;
}
.show-option a{
    font-size: large;
    font-style: italic;
    color: darkcyan;
    font-weight: lighter;
    text-decoration: none;
}
.show-option .active{
    color: red;
}
.alert{
    font-size: x-large;
}
/** Aministrator **/

/** Client **/
.status-activate{
    background-color: red;
    color: white;
    font-size: medium;
    width: fit-content;
    right: -100px;
    position: relative;
    top: -20px;
}
/** Client **/

/** Offre **/
.offre-rate{
    color: red;
    font-weight: 800;
    float: right;
}
/** Offre **/

/** State **/
.paye{
    color: green;
    font-size: inherit;
    font-weight: 500;
}
.reste{
    color: red;
    font-size: inherit;
    font-weight: 500;
}
/** State **/

/** Fiche **/
.fiche{
    width: fit-content;
    font-size: larger;
    margin: auto;}
/** Fiche **/

/** Comments **/
.cmt{
    font-size: 20px;
}
.cmt span{
    color: white;
    background: red;
    font-size: large;
}
.cmt a{
    margin-left: 5px;
}
/** Comments **/